* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
}
.LoginForm {
  width: 600px;
  margin: 40px auto;
  background-color: ghostwhite;
  padding: 50px;
}
.LoginForm h1 {
  text-align: center;
  margin-bottom: 20px;
}
.LoginForm button {
  width: 100%;
  padding: 8px;
  margin-top: 20px;
  cursor: pointer;
}
.LoginInoutGroup {
  margin: 10px 0;
}
.LoginInoutGroup input {
  width: 100%;
  padding: 5px;
  outline: none;
}
.testButton {
  padding: 8px 20px;
}
.appButtonTest {
  text-align: center;
  margin: 30px 0;
}
